/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Archivo", sans-serif;
  src: url("../Fonts/Archivo-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Monserrat", sans-serif;
  src: url("../Fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Ysabeau", sans-serif;
  src: url("../Fonts/YsabeauSC-Regular.ttf");
}
/*   @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  h2 {
    font-size: 24px;
    animation: bounce 1s infinite;
  } */
@keyframes colorChange {
  0% {
    color: rgb(203, 229, 142);
  }
  50% {
    color: rgb(161, 206, 63);
  }
  100% {
    color: rgb(16, 126, 87);
  }
  150% {
    color: rgb(1, 71, 96);
  }
  200% {
    color: rgb(1, 48, 38);
  }
}
.bodyPlanetas {
  background-image: linear-gradient(to bottom, #000, rgb(37, 36, 93));
}

.seccionSocial {
  background-color: #c4a573;
  margin-top: 50px;
}
.seccionSocial h3 {
  color: #000;
}
.seccionSocial p {
  color: #252424;
}

.seccionSocialPlanetas {
  margin-top: 10px;
}
.seccionSocialPlanetas h3 {
  color: rgb(197, 99, 60);
}
.seccionSocialPlanetas p {
  color: rgb(197, 99, 60);
}

.seccionHeader {
  background-color: rgb(69, 202, 172);
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-link.active {
  background-color: rgb(82, 240, 204);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-size: 30px;
  font-weight: bold;
}

.section-divider {
  margin: 40px 0;
  border: 1px solid #ef4cec;
}

.text-justify {
  text-align: justify !important;
}

.seccionFooter p {
  text-align: center;
  animation: colorChange 3s infinite;
  font-family: "Ysabeau SC", sans-serif;
  font-weight: bold;
}

/* Pagina Contactanos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.seccionContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 60px;
}

article {
  background-color: #d1c7e6;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type=text],
input[type=number],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.form-buttons {
  text-align: center;
  margin-top: 20px;
}

input[type=submit] {
  background-color: #003366;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: #a94e66;
}

/* pagina Planetas */
.videoBackground {
  margin-top: 80px;
}
.videoBackground video {
  min-height: 100vh;
  width: 100%;
}

#backgroundVideo {
  display: block;
}

#backgroundVideo::-webkit-media-controls {
  display: none !important;
}

.introPlanetas {
  background-color: whitesmoke;
  padding: 50px;
}
.introPlanetas p {
  margin: 100px;
  text-align: justify;
}

.seccionInfoPlanetas h2 {
  color: rgb(197, 99, 60);
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}
.seccionInfoPlanetas p {
  color: rgb(197, 99, 60);
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-gap: 5px;
  max-width: 500px;
  margin: auto;
}
.grilla img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tituloPlanetas {
  margin: 50px;
}
.tituloPlanetas h1 {
  font-size: 24px;
  color: rgb(219, 177, 59);
}
.tituloPlanetas p {
  color: rgb(86, 189, 162);
}

.seccionInfoPlanetas {
  margin: 50px;
}
.seccionInfoPlanetas p {
  text-align: justify;
}

.seccionUltimaPlanetas {
  background-color: whitesmoke;
  padding: 50px;
}
.seccionUltimaPlanetas p {
  text-align: justify;
  margin: 40px;
}

/* Pagina nasa */
.destacado {
  background-color: #eebcef;
  margin: 30px;
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.noticias {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
  gap: 20px;
}
.noticias article {
  background-color: #92ded2;
}
.noticias img {
  max-width: 100%;
  height: auto;
}

.foto-link {
  transition: all 2s;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .article {
    flex-direction: column;
    align-items: flex-start;
  }
  .video-iframe {
    max-width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  article {
    padding: 15px;
  }
  .introPlanetas, .seccionUltimaPlanetas {
    padding: 15px;
  }
  .introPlanetas p, .seccionUltimaPlanetas p {
    margin: 3px;
    font-size: small;
  }
  .tituloPlanetas p {
    font-size: small;
    text-align: justify;
  }
}

/*# sourceMappingURL=styles.css.map */
