@import 'reset';

@font-face {
    font-family: "Archivo", sans-serif;
    src: url("../Fonts/Archivo-VariableFont_wdth\,wght.ttf");
  }
  
@font-face {
    font-family: "Monserrat", sans-serif;
    src: url("../Fonts/Montserrat-VariableFont_wght.ttf");
  }
  

$color-negro: #000;
$color-background : rgb(69, 202, 172);
$color-resaltado: rgb(82, 240, 204);
$color-footer: rgb(197, 99, 60);

.bodyPlanetas {
  background-image: linear-gradient(to bottom, $color-negro, rgb(37, 36, 93));
}

.seccionSocial{
  background-color: #c4a573;
  margin-top: 50px;
  
      h1{
          color: $color-negro;
      }
  
      p{
          color: #252424;
        }
  }

.seccionSocialPlanetas{
  
  margin-top: 10px;
  
      h1{
          color: $color-footer;
      }
  
      p{
          color: $color-footer;
        }
}
  
.seccionHeader{
    background-color: $color-background ;
    margin-bottom: 20px;
  }
  
  .nav-link {
  text-decoration: none;
  transition: color 0.3s ease;

  &.active {
    
    background-color:$color-resaltado;
    border-radius: 10%;
    background-size: 30px;
    font-weight: bold;
  }
}  

.section-divider {
    margin: 40px 0;
    border: 1px solid #ef4cec; 
  }
  
  .text-justify {
    text-align: justify !important;
  }
  
  footer p{
  color: $color-footer;
  }
  
  /* Pagina Contactanos */
  
  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  }
  
  .seccionContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 60px;
  }
  
  article {
  background-color: #d1c7e6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  }
  
  h1 {
  text-align: center;
  margin-bottom: 20px;
  }
  
  .form-group {
  margin-bottom: 15px;
  }
  
  label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  
  .form-buttons {
  text-align: center;
  margin-top: 20px;
  }
  
  input[type="submit"] {
  background-color: #003366;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
  background-color: #a94e66;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 768px)  {
  article {
    padding: 15px;
  }
  
  }
  
  
  /* pagina Planetas */

.videoBackground {
    margin-top: 80px;
    
    video{
      min-height: 100vh;
      width: 100%;
    }
    
   } 
  
  #backgroundVideo {
    display: block;
  }
  
  #backgroundVideo::-webkit-media-controls {
    display:none !important;
  }

.introPlanetas{
  background-color: whitesmoke;
  padding: 50px;

  p{
    margin: 150px;
    text-align: justify;
  }

}

.seccionInfoPlanetas{
    
    h2{
        color: $color-footer;
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;

      }

    p{
      color: $color-footer;
      
    }
  }
  
  
.grilla {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-gap: 5px;
    max-width: 500px; 
    margin: auto;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        }
  }

/*   @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  h2 {
    font-size: 24px;
    animation: bounce 1s infinite;
  } */

  @keyframes colorChange {
    0% {
      color: rgb(245, 113, 148);
    }
    50% {
      color: rgb(19, 60, 101);
    }
    100% {
      color: rgb(87, 28, 86);
    }
  }
  

.tituloPlanetas {
    margin: 50px;

    h1 {
      font-size: 24px;
      animation: colorChange 3s infinite;
    }
    
    p{
      color:$color-footer;
    }
}

.seccionInfoPlanetas{
  margin: 50px;

  p{
    text-align: justify;
  }
}

.seecionUltimaPlanetas{
  background-color: whitesmoke;
  padding: 50px;

  p{
    text-align: justify;
    margin: 40px;
  }
}
  

  
  /* Pagina nasa */
  
  .destacado {
  background-color: #eebcef;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  }
  
.noticias {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
  gap: 20px;
  
   article {
    background-color: #92ded2;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
}

.foto-link{
  transition: all 2s ;
}
  
  .article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  
  @media (max-width: 768px) {
  .article {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .video-iframe {
    max-width: 100%; 
  }
  }