<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curiosidades</title>
    <link rel="stylesheet" href="../Styles/estilos.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>

<body>
  <header class="seccionHeader">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="#">Space Wonders</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="planetas.html">Planetas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="curiosidades.html">Datos curiosos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nasa.html">NASA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contáctanos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container text-center">
        <section class="mosaicoTitulo mt-5">
        <h1>¿Te quedaste con ganas de saber más?</h1>
        <p>Te dejamos algunos videos interesantes sobre nuestro sistema solar</p>
        </section>
        <section class="mt-5">
        <div class="d-flex flex-wrap justify-content-center mosaicoVideos">
            <div class="video-fondo mb-3">
            <iframe width="280" height="157.5" src="https://www.youtube.com/embed/S8GgSUzzTiA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
            <div class="video-fondo mb-3">
            <iframe width="280" height="157.5" src="https://www.youtube.com/embed/npwbweBFH7A"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
            <div class="video-fondo mb-3">
            <iframe width="280" height="157.5" src="https://www.youtube.com/embed/ZUI9egonXeM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
        </div>
        </section>
    </div>
    
  <section class="seccionSocial">
    <div class="conactoBar text-center py-3">
      <div class="container">
          <h1 class="mb-3">Contacto</h1>
          <div class="row justify-content-center">
              <div class="col-md-2">
                  <div class="item">
                      <img src="../Imagenes/instagram.png" alt="Logo instagram" class="mb-3 small-icon" >
                      <p>Instagram</p>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="item">
                      <img src="../Imagenes/twitterx.png" alt="Logo twitter" class="mb-3 small-icon">
                      <p>Twitter</p>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="item">
                      <img src="../Imagenes/google-maps.png" alt="Logo Ubicacion" class="mb-3 small-icon">
                      <p>Ubicación</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>
      
      
      <footer class="seccionFooter py-2">
          <div class="container">
              <p class="text-center">Space Wonders</p>
          </div>
      </footer>

    <script src="../js/bootstrap.js"></script>
</body>
</html>